$black_000: #000000;
$black_262626: #262626;
$darkgray_b3b3b3: #b3b3b3;
$gainsboro_e6e6e6: #e6e6e6;

html {
  border: 0;
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: white;
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  display: block;
  box-sizing: border-box;
  height: 20%;
  border: solid $black_000;
  border-width: 0 0 .125em 0;
  background: rgba(205, 220, 255, .25);

  h1 {
    margin: 0;
    padding-inline-start: calc(.0625 * 1em);
  }

  h2 {
    margin: 0;
    padding-inline-start: calc(.0625 * 1em);
  }

  h3 {
    margin: 0;
    padding-inline-start: calc(.0625 * 1em);
  }

  h4 {
    font-style: italic;
    margin: 0;
    padding-inline-start: calc(.5 * 1em);
  }
  width: 100%;
  margin: 0;
  padding: inherit;
}

nav {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: inherit;
  border: solid $black_000;
  border-width: .125em 0 0 0;
  background: whitesmoke;

  &:hover {
    background: rgba(245, 245, 245, .7);
    border: solid white;
    border-width: .125em 0 0 0;
  }

  ul {
    padding-inline-start: calc(.25 * 1em);

    li {
      display: inline-flex;
      box-sizing: content-box;
      padding: 0 .5em 0 .5em;
      text-align: center;

      &:hover {
        background: rgba(140, 160, 240, .25);
        font-weight: 600;
      }
    }
  }
}

main {
  border: 0;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  padding: .5em;
  width: 22em;
}

p {
  box-sizing: border-box;
  display: block;
  font-size: calc(1.2*1em);
  margin: 0 auto;
}

.header-box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 22.5em;
}

.nav-box {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 22.5em;
}

section {
  background: rgba(211, 211, 211, .5);
  margin: 0 auto;
  padding: calc(.25*1em);
  width: 21em;
}

article {
  margin: calc(.25*1em);
  padding: calc(.25*1em);

  h4 {
    padding: calc(.0625*1em);
  }

  pre[class*="language-"] {
    width: 16em;
  }
}

aside {
  font-size: .707em;
}

footer {
  font-size: .5em;
}

h1 {
  font-size: calc(3.998em * .9);
}

.h1 {
  font-size: calc(3.998em * .9);
}

h2 {
  font-size: 2.827em;
}

.h2 {
  font-size: 2.827em;
}

h3 {
  font-size: 1.999em;
}

.h3 {
  font-size: 1.999em;
}

h4 {
  font-size: 1.414em;
}

.h4 {
  font-size: 1.414em;
}

.p-break {
  word-break: break-all;
  word-wrap: break-word;
}

pre {
  font-size: calc(1.2*1em);
}

code {
  font-size: calc(.9*1em);
}

pre[class*="language-"] {
  background: $black_262626;
  border: .15em solid $darkgray_b3b3b3;
  padding: .25em;
  width: 17em;
  margin: 0 auto;
  overflow-x: auto;

  &:hover {
    border: .15em solid $gainsboro_e6e6e6;
  }
}

:not(pre) {
  >code[class*="language-"] {
    background: $black_262626;
    border: .15em solid $darkgray_b3b3b3;
    padding: .25em;
  }
}

@media (min-width: 25em) {
  header {
    h1 {
      padding-inline-start: calc(.125*1em);
    }
  }
}

@media (min-width: 29.9375em) {
  main {
    width: 28em;
  }

  section {
    width: 28em;
  }

  p {
    width: 23em;
  }

  pre[class*="language-"] {
    width: 23em;
  }

  article {
    p {
      width: 22em;
    }

    pre[class*="language-"] {
      width: 22em;
    }
  }
}

@media (min-width: 35em) {
  .header-box {
    width: 30.5em;
  }

  .nav-box {
    width: 30.5em;
  }

  p {
    width: 30.5em;
  }

  main {
    width: 38em;
  }

  section {
    width: 37.5em;
  }

  article {
    h1 {
      width: 32em;
    }

    h2 {
      width: 32em;
    }

    h3 {
      width: 32em;
    }

    h4 {
      width: 32em;
    }

    p {
      width: 30em;
    }

    pre[class*="language-"] {
      width: 30em;
    }
  }

  pre[class*="language-"] {
    width: 30.5em;
  }
}

@media (min-width: 48em) {
  section {
    width: 40em;
  }

  .header-box {
    width: 32.5em;
  }

  .nav-box {
    width: 32.5em;
  }

  pre[class*="language-"] {
    width: 32.5em;
  }
}
